<div class="right-container">
  <h2>Create Task</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title"
              placeholder="Title"
              required>
    </mat-form-field>

    <div *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.invalid">
      <small *ngIf="taskForm.get('title')?.errors?.['required']">Title is required.</small>
      <small *ngIf="taskForm.get('title')?.errors?.['minlength']">Title must be at least 3 characters.</small>
    </div>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput
          formControlName="description"
          placeholder="Description"
        ></textarea>
    </mat-form-field>
    

    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div *ngIf="taskForm.get('dueDate')?.touched && taskForm.get('dueDate')?.invalid">
      <small>Due date is required.</small>
    </div>
    <button matButton mat-raised-button type="submit">Create</button>
  </form>
</div>